.venv/
__pycache__/
.pytest_cache/
*.egg-info/
.coverage
build/
dist/
test-results.xml
.DS_Store
data/
results/
source_data/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.tag
*.fa
*.fasta
*.fai
*.ebwt
*.ebwtl
*.sam
*.bam
*.bai
*.png
*.pdf
*.svg
